<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p> <%= @restaurant.category %></p>
<ul>
<% @restaurant.reviews.each do |r| %>
  <li><%= r.content %>
      <%= r.rating %>
  </li>
  <% end %>
</ul>

<%= simple_form_for [@restaurant, @review] do |r| %>
<label for="content">Content:</label>
<br />
<%= r.text_area :content %>
<br />
<label for="rating">Rating:</label>
<br />
<%= r.number_field :rating %>
<br />
<%= r.submit %>
<% end %>
<br /><br />

<p> <%= link_to "Restaurants", restaurants_path, class: "btn btn-primary"%> </p>

